# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp
